body {
    background-color: white; /* Cor original */
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
    transition: background-color 0.3s; /* Suaviza a troca de cor */
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}